@model HomeFinance.Models.OperationsOverviewViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>


 <script>
 
 function DayDivClicked(day)
 {
     window.location.href = 'Operations/Create?day='+day;
 }

  function OperationDivClicked(id)
 {
     window.location.href = 'Operations/Edit/'+id;
 }
 </script>

<partial name="_OperationsListPartial" />