@model HomeFinance.Models.OperationsOverviewViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Month.ToString("MMMM yyyy")</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-3 text-center">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-3 text-center">
            <h2 class="text-primary">Category List2</h2>
        </div>
        <div class="col-3 text-center">
            <h2 class="text-primary">Category List3</h2>
        </div>
    </div>
    <br/><br/>
</div>