<div *ngIf="!showForm">
    <div class="container ">
        <ul *ngIf="categoriesService.categoryGroups" class="list-group">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ groups: categoriesService.categoryGroups, parentAccordion:0 }">
            </ng-container>
        </ul>
    </div>
    <ng-template #recursiveListTmpl let-groups="groups" let-parentAccordion="parentAccordion">
        <li *ngFor="let item of groups" class="list-group-item p-0 m-0">
            <div class="card">
                <div class="card-header p-2 ps-1 m-0">
                    <div class="row m-0">
                        <div class="col-6">
                            {{ item.categoryParent.name }}
                        </div>
                        <div class="col-6">
                            <button class="btn btn-outline-primary d-flex ms-auto p-1 rounded-circle" (click)="onChangeCategory(item.categoryParent)">
                                <img src="/assets/img/edit.png" class="ms-auto  d-block" height="10px" width="10px">
                            </button>
                        </div>
                    </div>
                </div>
                <ul *ngIf="item.categoryChildren.length > 0" class="list-group m-1 ms-3 mb-0">
                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ groups: item.categoryChildren }">
                    </ng-container>
                </ul>
            </div>
        </li>
    </ng-template>
    <div class="container mt-1 mb-1">
        <button class="btn btn-outline-success d-flex ms-auto p-2 rounded-circle" (click)="onAddNewCategory()">
            <img src="/assets/img/AddCategory.png" class="ms-auto  d-block " height="35px" width="35px">
        </button>
    </div>
</div>

<div *ngIf="showForm">
    <div class="container mb-1 mt-1">
        <button class="btn btn-outline-danger d-flex ms-auto p-2 rounded-circle" (click)="onExitForm()">
            <img src="/assets/img/close.png" class="ms-auto  d-block  " height="20px" width="20px">
        </button>
    </div>
    <div class="container">
        <app-categories-form (onExitForm)="onExitForm()" [formData]="categoryModel"></app-categories-form>
    </div>
</div>